body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;

    /* font-family: "Latin Modern Math"; */
}

canvas {
    width: max(99vw, 99vh);
    height: auto;
}

#canvas-container {
    height: 100%;
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)"

}

#uploadWrapper {
    display: flex;
    justify-content: left;
    align-items: center;;
    flex-direction: row;
}