:root {
    --font_family: "Hack Nerd Font";
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;

    /* font-family: "Latin Modern Math"; */
    font-family: var(--font_family);
    font-size: 12px;
    font-style: normal;
}

canvas {
    width: max(99vw, 99vh);
    height: auto;
}

#canvas-container {
    height: 100%;
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)"

}

.uploadDisplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 50px;
}

#uploadWrapper {
    display: flex;
    justify-content: left;
    align-items: center;;
    flex-direction: row;

    padding: 50px;
    padding-bottom: 0px;
}

#uploadFile {
    margin-left: 50px;
}

#dataDisplay {
    /* height: 30px; */
    height: fit-content;
    width: fit-content;
}

input, input[type="file" i], #file-upload-button {
    font-family: var(--font_family);
}